:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body{
  background-color: rgb(212, 174, 131);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#noteText{
  width: 20rem;
  height: 20rem;
  background-color: #af9579;
  text-align: center;
  border-width: 2px;
}


#noteArea{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

#updateNoteButton{
  margin-top: 1%;
}

Button{
  cursor: pointer;
}