body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

#Navbar {
  padding: 0.25%;
  background-color: #646cff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#App {
  font-size: 1.5rem;
  font-weight: bold;
}

#view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

#noteArea {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
  width: 100%;
  overflow-y: auto;
}

#noteText {
  width: 100%;
  height: 80vh;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  border-width: 1px;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
  overflow-y: auto;
}


.react-button{
  background-color: rgb(187, 176, 228);
  margin: 0.5%;
  color: rgb(31, 28, 28);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.react-button:hover{
  transition-delay: 10ms;
  background-color:rgb(21, 19, 22);
  color: #f9f9f9;
}



#topArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#noteName {
  font-weight: bold;
  margin-right: 10px;
}
