:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body{
  background-color: #93a0b4;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#noteText{
  width: 20rem;
  height: 20rem;
  background-color: #ac9c9c;
  text-align: center;
  border-width: 1px;
  outline:none;
}

#noteText:focus{
  border-color: rgb(56, 56, 59);
}

#noteArea{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
  padding: 1%;
}

#updateNoteButton{
  margin-top: 1%;
}

Button{
  cursor: pointer;
}